<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SALUS - Sign-Up</title>

    <link rel="stylesheet" href="{{ base_url() }}/assets/vendor/bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ base_url() }}/assets/vendor/fonts/circular-std/style.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="{{ base_url() }}/assets/libs/css/style.css">
    <link rel="stylesheet" href="{{ base_url() }}/salus/css/input-check.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-image: linear-gradient(to top, #7f7fd5, #86a8e7, #91eae4);
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: 'Arial'
        }

        h2.logostr {
            margin: 0 auto;
            letter-spacing: 4px;
            color: #1674b3;
        }

        .center-text {
            text-align: center;
        }

        h3 {
            font-family: 'Arial';
            font-weight: bold;
        }

        .img-responsive.img-center {
            padding-top: 16px;
            margin: 0 auto;
        }

        #signup-btn {
            background-color: #3498DB;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="splash-container">
        <div class="card">
            <img src="{{ base_url() }}/assets/images/logo.png" class="img-responsive img-center" width="64">
            <h2 class="logostr">SALUS</h2>
            <div class="card-header">
                <h3 class="mb-1 center-text">Please check your email.</h3>
                <p class="center-text">We sent email to <b>{{email}}</b></p>
            </div>

            <div class="card-footer bg-white">
                <a href="{{ base_url() }}/signin" class="btn btn-primary btn-block" id="signup-btn">Go to Sign-In</a>
            </div>
        </div>
    </div>
</body>
</html>
